.ButtonOne{
    background: #D27CDD;
    background: linear-gradient(0deg,rgba(210, 124, 221, 1) 0%, rgba(182, 115, 255, 1) 60%);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.ButtonOne:hover{
    background: #D27CDD;
    background: linear-gradient(0deg,rgba(210, 124, 221, 1) 0%, rgba(182, 115, 255, 1) 100%); 
    box-shadow: 0 20px 15px rgba(29, 28, 30, 0.53);
    transform: translateY(-1px);
    transition: all 0.3s ease;
    cursor: pointer;
}